Templates(
    entities: [
        Template(
            entity_type: Item,
            name: "Healing Potion",
            glyph: '!',
            levels: [0, 1, 2],
            provides: Some([("Healig", 6)]),
            frequency: 2
        ),
        Template(
            entity_type: Item,
            name: "Dungeon Map",
            glyph: '{',
            levels: [0, 1, 2],
            provides: Some([("DungeonMap", 0.)]),
            frequency: 1
        ),
        Template(
            entity_type: Enemy,
            name: "Goblin",
            glyph: 'g', 
            levels: [0, 1, 2],
            hp: Some(1),
            frequency: 5
        ),
        Template(
            entity_type: Enemy,
            name: "Orc",
            glyph: 'o', 
            levels: [1, 2],
            hp: Some(3),
            frequency: 3
        ),
        Template(
            entity_type: Enemy,
            name: "Ogre",
            glyph: 'O', 
            levels: [1, 2],
            hp: Some(4),
            frequency: 2
        ),
        Template(
            entity_type: Enemy,
            name: "Ettin",
            glyph: 'E', 
            levels: [2],
            hp: Some(5),
            frequency: 1
        ),
    ],
)
